<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
</head>

<div class="profile-page">
    <div class="page-header header-filter" data-parallax="true" style="background-image:url('https://firebasestorage.googleapis.com/v0/b/blog-40f93.appspot.com/o/51803971_774270126287221_3933540407743286220_n.jpg?alt=media&token=8797b025-3c48-46d7-a366-319357e1e5e1');border-radius:25px;"></div>
    <div class="main main-raised">
		<div class="profile-content">
            <div class="container">
                <div class="row">
	                <div class="col-md-6 ml-auto mr-auto">
        	           <div class="profile">
	                        <div class="avatar">
	                            <img style="width: 200px !important;
                              height: 200px !important;
                              object-fit: cover;" src="https://firebasestorage.googleapis.com/v0/b/blog-40f93.appspot.com/o/profile%2FumQN6z2hffaxAwcJFmL2yiAO4uO2%2F1558810243196.jpg?alt=media&token=004d8c6a-64a7-445c-a40e-b0c0ed8cdf11" alt="Circle Image" class="img-raised rounded-circle img-fluid">
	                        </div>
	                        <div class="name">
	                            <h3 class="title">Pasupol Bunsaen (เนี้ยว)</h3>
								                <a href="https://facebook.com/niawjunior.Official" target="_blank" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/niaw_jr/" target="_blank" class="btn btn-just-icon btn-link btn-instagram"><i class="fa fa-instagram"></i></a>
                                <a href="https://github.com/niawjunior" target="_blank" class="btn btn-just-icon btn-link btn-github"><i class="fa fa-github"></i></a>
	                        </div>
	                    </div>
    	            </div>
                </div>
                <div class="description text-center">
                    <p>สวัสดีครับ ผม เนีี้ยว อายุ ({{yearOld}}) ปี ปัจจุบัน เป็นโปรแกรมเมอร์ ณ บริษัทแห่งหนึ่งใน กรุงเทพฯ</p>
                    <p>งานอดิเรก ฟิตเนส ดูหนัง ดูกีฬา (มวยสากล, mma) เล่นเกมส์ เขียนโค้ด และชอบเข้าร้านกาแฟ ครับ</p>
                    <hr>
                    <p>Skill (BlockChain, JavaScript, Angular, Vue.js, NodeJs, MongoDB, Firebase, PHP, SQL) </p>
                    <br>
                  </div>
                  <p *ngIf="result" class="title text-center" style="font-size: 20px;">Project on Github</p>
                  <div class="text-center">
                    <app-skill></app-skill>
                  </div>
                  <div class="col-lg-12" style="max-height:600px;overflow:auto;margin-bottom: 1rem;">
                    <div *ngFor="let item of resultArr">
                      <div (click)="gotoLink(item.clone_url)" style="cursor: pointer;" class="item">
                        <span class="title repo-text"><i class="fa fa-circle"></i></span>
                         {{ item.name }}
                        <span class="title repo-text"><i class="fa fa-star"></i></span>
                         {{item.star}}
                        <span class="title repo-text"><i class="fa fa-code-fork"></i></span>
                        {{item.fork}}
                        <span class="title repo-text"><i class="fa fa-tag"></i></span>
                        {{item.language}}
                        <span class="title repo-text"><i class="fa fa-clock-o"></i>
                        </span>
                        {{item.created_at | dateTime}}
                      </div>
                      <hr/>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
	</div>
</div>
