<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
</head>

<div class="profile-page">
    <div class="page-header header-filter" data-parallax="true" style="background-image:url('https://instagram.fbkk2-7.fna.fbcdn.net/vp/048afd7d304a6919f58c0e5ed87e8e9e/5D77E178/t51.2885-15/e35/51348297_246698369580876_4623636140741037836_n.jpg?_nc_ht=instagram.fbkk2-7.fna.fbcdn.net');"></div>
    <div class="main main-raised">
		<div class="profile-content">
            <div class="container">
                <div class="row">
	                <div class="col-md-6 ml-auto mr-auto">
        	           <div class="profile">
	                        <div class="avatar">
	                            <img style="width: 200px !important;
                              height: 200px !important;
                              object-fit: cover;" src="https://instagram.fbkk2-7.fna.fbcdn.net/vp/6ba2111f11535d996a3d623d164c4157/5D764E5D/t51.2885-15/e35/42949591_325740088158131_6244797667212174615_n.jpg?_nc_ht=instagram.fbkk2-7.fna.fbcdn.net" alt="Circle Image" class="img-raised rounded-circle img-fluid">
	                        </div>
	                        <div class="name">
	                            <h3 class="title">Pasupol Bunsaen (เนี้ยว)</h3>
								<h6>Programmer</h6>
								<a href="https://facebook.com/niawjunior.Official" target="_blank" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/niaw_jr/" target="_blank" class="btn btn-just-icon btn-link btn-instagram"><i class="fa fa-instagram"></i></a>
                                <a href="https://github.com/niawjunior" target="_blank" class="btn btn-just-icon btn-link btn-github"><i class="fa fa-github"></i></a>
	                        </div>
	                    </div>
    	            </div>
                </div>
                <div class="description text-center">
                    <p>สวัสดีครับ ผม เนีี้ยว อายุ ({{yearOld}}) ปี ปัจจุบัน เป็นโปรแกรมเมอร์ ณ บริษัทแห่งหนึ่งใน กรุงเทพฯ</p>
                    <p>เวลาว่าง ชอบ ดูหนัง เล่นเกมส์ เขียนโค้ด และชอบสิงอยู่ตามร้านกาแฟ</p>
                    <hr>
                    <p>Skill (BlockChain, JavaScript, Angular, NodeJs, MongoDB, Firebase,Cloud Function PHP, SQL) </p>
                </div>

          <div class="tab-content tab-space">
            <div class="tab-pane active text-center gallery" id="studio">
  				<div class="row">
  					<div class="col-md-3 ml-auto">
  					    <img src="https://instagram.fbkk2-7.fna.fbcdn.net/vp/80071f3d6297ca2465d6afc1f05ad36c/5D41D4AB/t51.2885-15/e35/51803971_774270126287221_3933540407743286220_n.jpg?_nc_ht=instagram.fbkk2-7.fna.fbcdn.net" class="rounded">
  						<img src="https://instagram.fbkk2-7.fna.fbcdn.net/vp/d104a362a0fbef69eae6520a38e8987d/5D5794B4/t51.2885-15/e35/52708810_302390697091666_969223317980166149_n.jpg?_nc_ht=instagram.fbkk2-7.fna.fbcdn.net" class="rounded">
  					</div>
  					<div class="col-md-3 mr-auto">
  						<img src="https://instagram.fbkk2-7.fna.fbcdn.net/vp/1d7d5cae4ea856c99eb9ba38d73adc9a/5D522353/t51.2885-15/e35/51800012_137900340584727_9215794390843624636_n.jpg?_nc_ht=instagram.fbkk2-7.fna.fbcdn.net" class="rounded">
  						<img src="https://instagram.fbkk2-7.fna.fbcdn.net/vp/c22775e506cf6c5681a28ae783c262b6/5D33E068/t51.2885-15/e35/51365285_165999851051128_7165440887476927694_n.jpg?_nc_ht=instagram.fbkk2-7.fna.fbcdn.net" class="rounded">
  					</div>
  				</div>
  			</div>
          </div>
            </div>
        </div>
	</div>
</div>
