<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" [routerLink]="['']" >BLOG</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/article']" routerLinkActive="active current">บทความทั้งหมด</a>
        </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navClick" href="javascript:void(0)" ngbDropdownToggle>หมวดหมู่บทความ</a>
        <div class="dropdown-menu" aria-labelledby="navClick" ngbDropdownMenu>
          <a class="dropdown-item" href="#">JavaScript</a>
          <a class="dropdown-item" href="#">Angular</a>
          <a class="dropdown-item" href="#">BlockChain</a>
          <a class="dropdown-item" href="#">ทั่วไป</a>
        </div>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active current"  >เกี่ยวกับ</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/post']" routerLinkActive="active current"  >เขียนบทความ <fa name="pencil"></fa></a>
        </li>
        <li *ngIf="!isLogIn" class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active current">เข้าสู่ระบบ <fa name="sign-in"></fa></a>
        </li>
        <li *ngIf="isLogIn" class="nav-item">
            <a  (click)="signOut()" class="nav-link" href="javascript:void(0)">ออกจากระบบ <fa name="sign-out"></fa></a>
        </li>
      </ul>
  </div>
</nav>
