<div *ngIf="loading" class="loading">Loading&#8230;</div>
<div *ngIf="loadingContent" class="row article">
  <div class="col-sm-12 mb-3">
    <div class="share-button">
      <share-button [theme]="'material-dark'"
        [button]="'facebook'"
        [showText]="true"
        [url]="shareUrl"
        [autoSetMeta]="false"
        ></share-button>
    </div>
  </div>
    <div class="col-sm-12 mx-auto">
        <h1 class="text-center" style="margin-bottom: 20px;">{{ head }}</h1>
        <markdown [data]="article"></markdown>
    </div>
 </div>
