.card-block {
  text-align: center;
}

.full-height {
  height: 100%;
}
.read-more-button {
  float: right!important;
  margin-left: auto;
}
.card:hover {
  animation: soften 0.2s;
  opacity: 0.9;
  cursor: pointer;
}
.category {
  position: absolute;
  top: 0px;
  left: 0;
  background: #df6546;;
  padding: 6px 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.post-date {
  position: absolute;
  top: 0px;
  right: 0;
  background: #448cd1;;
  padding: 6px 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.author {
  width: 28px !important;
  height: 28px !important;
  margin-left:.2rem;
}
