<div (click)="readArticle(item.slugUrl)" class="card mb-4 box-shadow full-height">
  <img src="{{ imgUrl }}" class="card-img-top">
  <div *ngIf="loading" class="lds-facebook"><div></div><div></div><div></div></div>
  <div class="card-body d-flex flex-column">
      <h4 class="card-title">{{ item.title }}</h4>
      <p class="card-text">{{ item.description }}..</p>
      <div class="category">{{ item.tag }}</div>
      <button class="btn btn-outline-primary read-more-button mt-auto" type="button">อ่านบทความนี้ <fa name="book"></fa>
      </button>
    </div>
  </div>
