<div *ngIf="loadingContent" class="row article shadow fill">
    <div class="col-sm-12 mx-auto">
        <h1 class="text-center" style="margin-bottom: 20px;">{{ head }}</h1>

      <p class="text-center"><span class="badge badge-pill badge-custom-danger">#{{ tag }}</span></p>
      <p class="text-center">{{ postDate }}</p>
        <markdown [data]="article"></markdown>
    </div>
    <div class="col-sm-12 mt-5">
      <p>แชร์บทความนี้</p>
        <div class="share-button">
          <share-button [theme]="'circles-dark'"
          [button]="'facebook'"
          [showText]="false"
          [url]="shareUrl"
          [autoSetMeta]="false"
          ></share-button>
        </div>
        <app-comment-box [url]="getUrl"></app-comment-box>
      </div>
    </div>

