@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@ngx-share/button/themes/circles/circles-dark-theme.css';
@font-face {
  font-family: 'Kanit';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: local('Kanit Regular'), local('Kanit-Regular'), url(./assets/nKKZ-Go6G5tXcraBGwCKd6xBDFs.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

 html, body {
  font-family: 'Kanit', sans-serif;
  font-display: auto;
  background: #ffffff;
  height: 100%;
  margin: 0;
  min-height: 100vh;
 }


 .post-content{
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.post-content .post-container{
  padding: 20px;
}

.post-content .post-container .post-detail{
  margin-left: 65px;
  position: relative;
}

.post-content .post-container .post-detail .post-text{
  line-height: 24px;
  margin: 0;
}

.post-content .post-container .post-detail .post-comment{
  display: inline-flex;
  margin: 10px auto;
  width: 100%;
}
.post-container {
  border: 1px solid #f2f2f2;
}

.post-content .post-container .post-detail .post-comment img.profile-photo-sm{
  margin-right: 10px;
}

img.profile-photo-md {
    height: 50px !important;
    width: 50px !important;
    border-radius: 50%;
}

img.profile-photo-sm {
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%;
}


 .pb-cmnt-container {
  margin-top: 100px;
  position: relative;
  bottom: 0;
  margin-bottom: 20px;
}

.pb-cmnt-textarea {
  resize: none;
  padding: 20px;
  outline: none;
  height: 130px;
  width: 100%;
  border: 1px solid #F2F2F2;
}

 .shadow {
  box-shadow: 0 0px 10px rgba(0,0,0,.25);
 }
 .card {
  box-shadow: 0 0px 10px rgba(0,0,0,.25);
  border: 0px;
 }

 .app-nav {
   margin-bottom: 4rem;
 }

 .fr-toolbar {
  border-top: 4px solid #0078ff !important;
}


/* Set default font-family */


.ng-invalid.ng-touched {
  border-color:#ffeeba;
}


.fb-color {
  border-radius: 0 !important;
  background-color: #4267b2 !important;
  border-color: #4267b2 !important;
}


img {
  width: 100% !important;
  height: auto !important;
  max-width: 100% !important;
}

.img-preview {
  width: 100% !important;
  height: 170px !important;
  object-fit: cover;
  max-width: 100% !important;
}

/* Absolute Center Spinner */
pre {
  background: #fafafa;
  padding: 5px;
  /* border: .5px solid #b2b2b2; */
  color: #363030;
}
